<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neuhealth.demo.mapper.ClientBedMappingMapper">

<update id="markDeletedByClientId">
    UPDATE client_bed_mapping
    SET is_deleted = true,
    updated_at = NOW()
    WHERE client_id = #{clientId}
    AND is_deleted = false
</update>
</mapper>